/*Copyright 2014 by Jonathan Tan. All rights reserved.*/

/*Global style*/
* {
    background-color: #336699;
    font-family: Arial;
    color: #FFFFFF;
	text-align: center;
}

a{
    text-decoration: none;
}

/*Link hover style*/
a:hover{
    color: #FFA500;
}

#main{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#arrow{
	color: #FFA500;
}


/* Maps */
#map {
    width: 50%;
    margin: 0 auto;
}

#map-canvas {
    height: 100%;
}

